@import 'tailwindcss';
@config "../../tailwind.config.js";

:root {
  color-scheme: light dark;
  font-synthesis: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-user-drag: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
